.computer.only.tablet.only.row 
  .sticky
    .computer.only.tablet.only.row
      .ui.container
        #example2.ui.inverted.tertiary.teal.segment
          //- .container(style='margin:1.5em 1.5em 1.5em 325px')
          //- h3.ui.header Stuck Content
          //- .ui.sticky(style='')
          .ui.divided.items
            .item
              .ui.tiny.image
                img.ui.tiny.image(src='/public/logo.png', id='logo')
              .middle.aligned.content
                h3.ui.header  Community's rules!
          //- h3.ui.header
          .ui.text.container
          //- h3 Community's rules!
        
          h4.ul
              li We're a global community of many types of people, who all have the right to feel comfortable and who may not think what you think, believe what you believe, or see what you see. So, be polite and respectful in your interactions with other members.

              li The opinions expressed here are not necessarily the opinions of EatSnap.Love and we assume no responsibility for such content. Everyone has the right to freedom of opinion and expression.

.mobile.only.row
  .sticky
    .computer.only.tablet.only.row
      .ui.container
        #example2.ui.inverted.tertiary.teal.segment
          //- .container(style='margin:1.5em 1.5em 1.5em 325px')
          //- h3.ui.header Stuck Content
          //- .ui.sticky(style='')
          .ui.divided.items
            .item
              .ui.tiny.image
                img.ui.tiny.image(src='/public/logo.png', id='logo')
              .middle.aligned.content
                h3.ui.header  Community's rules!
          //- h3.ui.header
          .ui.text.container
          //- h3 Community's rules!
        
          h4.ul
              li We're a global community of many types of people, who all have the right to feel comfortable and who may not think what you think, believe what you believe, or see what you see. So, be polite and respectful in your interactions with other members.

              li The opinions expressed here are not necessarily the opinions of EatSnap.Love and we assume no responsibility for such content. Everyone has the right to freedom of opinion and expression.

