.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu
    .ui.container
      a.item(href='')
        img.ui.image(src='/public/logo.svg', id='logo', width='230px')
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item(href='')
      img.ui.image(src='/public/logo.svg', id='cell_logo', width='230px')