.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu
    .ui.container
      a.item(href='')
        img.ui.image(src='https://dhpd030vnpk29.cloudfront.net/truman-objections/logo.svg', id='logo', width='150px')
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item(href='')
      img.ui.image(src='https://dhpd030vnpk29.cloudfront.net/truman-objections/logo.svg', id='cell_logo', width='150px')