extends ui_layout

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/feed_no.css')
  link(type='text/css', rel='stylesheet', href='/public/css/jquery.highlight-within-textarea.css')

block content
  .four.wide.column.centered
    .ui.warning.icon.message
      
      .content
        i.icon.info.circle.large
        | This is a snapshot of VidShare. You are welcome to view the video content on this page, but make sure to look through all the conversations.
        br
        br
        | After you are done, 
        span.boldText return to the survey page
        |  to complete the survey.
  .eight.wide.column.centered
    .ui.fluid.card      
      //- .image
        //- iframe(width='100%' height='568' src='https://www.youtube.com/embed/0bXmNBl9Xbg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      video(src='/post_pictures/Objection_Video.mp4' width='100%' controls type='video/mp4')
      .content
        .description
          h2 FDA granted full approval to the Pfizer vaccine 
          .viewCount-div
            p Uploaded: Aug 29, 2021
          p.description.short
            b Description: 
            | This week, the FDA granted full approval to the Pfizer vaccine. Will that make a difference for vaccine-hesitant Americans? Dr. Irwin Redlener, founding director of the National Center for Disaster Preparedness at Columbia University and a MSNBC Public Health Analyst, joined NBC’s Joshua Johnson to discuss the process behind full FDA approval and its possible impact on vaccination rates.
          a.showMoreLess SHOW MORE
      .largeScreen
        .ui.bottom.attached.buttons
          .ui.labeled.button
            .ui.upvote.button(tabindex='0')
              i.thumbs.up.icon
              | Upvote
            a.ui.basic.green.left.pointing.label 2
          .ui.labeled.button
            .ui.downvote.button(tabindex='0')
              i.thumbs.down.icon
              | Downvote
            a.ui.basic.red.left.pointing.label 2
          .ui.reply.button
              i.comment.icon
              | Comment
          .ui.flag.button(tabindex='0')
            i.flag.icon
            | Flag
          .ui.share.button(tabindex='0')
            i.share.icon
            | Share
      .mediumScreen.hidden
        .ui.bottom.attached.buttons
          .ui.labeled.button
            .ui.upvote.button(tabindex='0')
              i.thumbs.up.icon
              | Upvote
            a.ui.basic.green.left.pointing.label 2
          .ui.labeled.button
            .ui.downvote.button(tabindex='0')
              i.thumbs.down.icon
              | Downvote
            a.ui.basic.red.left.pointing.label 2
        .ui.bottom.attached.buttons
          .ui.reply.button
              i.comment.icon
              | Comment
          .ui.flag.button(tabindex='0')
            i.flag.icon
            | Flag
          .ui.share.button(tabindex='0')
            i.share.icon
            | Share
    .ui.form
      .inline.field
        .image
          img.ui.image.rounded(src="/profile_pictures/animals/4_cat.svg")
        textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1' readonly)
      .ui.submit.button.replyToVideo
          | Comment
      .ui.cancel.basic.blue.button.replyToVideo
          | Cancel
    .ui.comments
        .comment#actor1
          .image(style="background-color:#9BBCD6")
            a.avatar
              img(src="/profile_pictures/animals/harass_jellyfish.svg")
          .content
            a.author ad213
            .metadata
              span.date Yesterday at 12:30AM
            .text What great news
            .actions
              a.upvote
                i.icon.thumbs.up
                span.num 1
              a.downvote
                i.icon.thumbs.down
                span.num 0
              a.reply 
                | Reply
              a.flag 
                | Flag
              a.share 
                | Share
        .comment#actor2
          .image(style="background-color:#8FC1BE")
            a.avatar
              img(src="/profile_pictures/animals/hate_sealion.svg")
          .content
            a.author oc732
            .metadata
              span.date 2 days ago
            .text#offense
            .actions
              a.upvote
                i.icon.thumbs.up
                span.num 1
              a.downvote
                i.icon.thumbs.down
                span.num 1
              a.reply 
                | Reply
              a.flag 
                | Flag
              a.share
                | Share
          .comments
            .comment#actor3
              .image(style="background-color:#A7A9AC")
                a.avatar
                  img(src="/profile_pictures/animals/hate_frog.svg")
              .content
                a.author lj382
                .metadata
                  span.date Yesterday at 9:32PM
                .text#objection
                .actions
                  a.upvote
                    i.icon.thumbs.up
                    span.num 1
                  a.downvote
                    i.icon.thumbs.down
                    span.num 1
                  a.reply 
                    | Reply
                  a.flag 
                    | Flag
                  a.share 
                    | Share
        .comment#actor4
          .image(style="background-color:#a69588;")
            a.avatar
              img(src="/profile_pictures/animals/mis_elephant.svg")
          .content
            a.author ef039
            .metadata
              span.date 4 days ago
            .text That's great
            .actions
              a.upvote
                i.icon.thumbs.up
                span.num 0
              a.downvote
                i.icon.thumbs.down
                span.num 0
              a.reply 
                | Reply
              a.flag 
                | Flag
              a.share 
                | Share
  .four.wide.column.centered
  
block scripts
  script(src='/public/js/feed_no.js')