extends ui_layout

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/home.css')
  link(type='text/css', rel='stylesheet', href='/public/css/intro.css')
  link(type='text/css', rel='stylesheet', href='/public/css/jquery.highlight-within-textarea.css')

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net/truman-objections";
  .eight.wide.column.centered(style="margin-top:3em")
    h1 Welcome to
      img(src='https://dhpd030vnpk29.cloudfront.net/truman-objections/favicon.svg', height="50px", style="margin-bottom:-10px")
      span.title VidShare
      | !
    h3(style="font-weight: normal") We are a new video-based social media platform. 
    h3(style="font-weight: normal")  Our goal is to foster and build communities through user interactions and comments on video content. Please join us and other users to try out our initial prototype.

    .ui.big.labeled.icon.green.button(style="margin-top:2em")
      i.arrow.alternate.circle.right.icon
      | Let's Go!


  script.
    $('.ui.big.labeled.icon.green.button').on('click', function() {
      console.log('test')
      window.location.href = '/account/interest';
    });