extends ui_layout

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/demo.css')
  link(type='text/css', rel='stylesheet', href='/public/css/jquery.highlight-within-textarea.css')

block content
  .eleven.wide.column.centered
    .ui.text.container
      br
      h1 Welcome to VidShare!
      //- img(src='/public/homepage_3.png', width="50%")
      h3 We are a new video-based social media platform, and we welcome you to join us and other users to test out our initial prototype.
      h3 Here's what you can do on the site.
      ul
        li View videos
        li Upvote, Downvote, Comment on, Share, and Flag videos
        li View comments left by other users
        li Upvote, Downvote, Reply to, Share, and Flag comments left by other users 
    
    .demo
      .ui.fluid.card.centered   
        //- .image
          //- iframe(width='100%' height='568' src='https://www.youtube.com/embed/0bXmNBl9Xbg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        video(src='' width='100%' controls type='video/mp4' poster='/public/howto-image.jpg')
        .content
          .description
            h2 Basketball Trick SHOTS!! 
            .viewCount-div 
              i.icon.user
              p watching &#183; April 8, 2022
              p.viewCount &#32;20&#32;
            p.description.short
              b Description: 
              | check out my dope basketball shots
        .ui.five.bottom.attached.buttons
          .ui.labeled.button
            .ui.upvote.button(tabindex='0')
              i.thumbs.up.icon
              | Upvote
            a.ui.basic.green.left.pointing.label 0
          .ui.labeled.button
            .ui.downvote.button(tabindex='0')
              i.thumbs.down.icon
              | Downvote
            a.ui.basic.red.left.pointing.label 0
          .ui.reply.button(tabindex='0')
              i.comment.icon
              | Comment
          .ui.flag.button
            i.flag.icon
            | Flag
          .ui.share.button(tabindex='0')
            i.share.icon
            | Share
      .ui.form
        .inline.field
          img.ui.image.rounded(src='/profile_pictures/genericphoto1.png')
          textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1')
        .ui.submit.button.replyToVideo
            | Comment
        .ui.cancel.basic.blue.button.replyToVideo
            | Cancel
      .ui.comments
          //- h3.ui.dividing.header Comments
          //- .ui.form
          //-   .inline.field
          //-     a.avatar
          //-       img.ui.image.rounded.replyToVideo(src='/profile_pictures/genericphoto1.png')
          //-     textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1')
          //-   .ui.submit.button.replyToVideo
          //-       | Comment
          //-   .ui.cancel.basic.blue.button.replyToVideo
          //-       | Cancel
          .comment
            a.avatar
              img(src='/profile_pictures/1.jpg')
            .content
              a.author John Smith
              .metadata
                span.date 2 minutes ago
              .text
                | Cool
              .actions
                a.upvote
                  i.icon.thumbs.up
                  span.num 0
                a.downvote
                  i.icon.thumbs.down
                  span.num 0
                a.reply 
                  | Reply
                a.flag 
                  | Flag
                a.share 
                  | Share
      .ui.small.basic.share.modal
        .ui.icon.header
          i.share.icon
          |     You have shared this video!
        .actions(style='text-align:center;')   
          .ui.green.ok.inverted.button
            i.checkmark.icon
            |   Done

block scripts
  script(src='/public/js/lib/jquery.highlight-within-textarea.js')