extends ui_layout

block styles 
    link(type='text/css', rel='stylesheet', href='/public/css/profile.css')

block content
    -var initials = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"] 
    .computer.only.tablet.only.three.wide.column.centered
    .eight.wide.column.centered
        .inline 
            h2 Create a Username
        h3 Before testing the prototype, we want you to create a username. 
        h3 Please type your initials below, and we will generate a random username for you based on your initials to keep your identity anonymous.
        br
        br
        br
        .ui.form
            .fields
                .field.four.wide
                    label 
                        h3 First Name Initial: 
                    select.ui.search.dropdown.fluid(name="firstInitial")
                        option(value='') Select Initial
                        each letter in initials
                            option(value=letter) #{letter}   
                .field.four.wide
                    label 
                        h3 Last Name Initial: 
                    select.ui.search.dropdown.fluid(name="lastInitial")
                        option(value='') Select Initial
                        each letter in initials
                            option(value=letter) #{letter}
            h3 This will be your Username:
            h4 (and photo)
            .inline
                img.ui.image.rounded(src='/profile_pictures/genericphoto1.png')
                h2.username
                    span.firstName ######### 
                    | &nbsp;
                    span.lastName #########
        br
        br
        br
        .ui.big.labeled.icon.button
          i.right.arrow.icon
          |   Continue
       

    .computer.only.tablet.only.three.wide.column.centered

block scripts
    script(src='/public/js/profile.js')