extends ui_layout

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/test.css')

block content
  .ui.fluid.card      
    .image
      //- iframe(width='100%' height='568' src='https://www.youtube.com/embed/0bXmNBl9Xbg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    video(src='/post_pictures/Objection_Video.mp4' width='100%' controls type="video/mp4")
    .content
      .description
        h1 FDA granted full approval to the Pfizer vaccine
        p 13,798 views &#183; Aug 29, 2021
        p 
          b Description: 
          | This week, the FDA granted full approval to the Pfizer vaccine. Will that make a difference for vaccine-hesitant Americans? Dr. Irwin Redlener, founding director of the National Center for Disaster Preparedness at Columbia University and a MSNBC Public Health Analyst, joined NBC’s Joshua Johnson to discuss the process behind full FDA approval and its possible impact on vaccination rates.
    .ui.five.bottom.attached.buttons.large
      .ui.labeled.button
        .ui.upvote.button(tabindex='0')
          i.thumbs.up.icon
          | Upvote
        a.ui.basic.green.left.pointing.label 2
      .ui.labeled.button
        .ui.downvote.button(tabindex='0')
          i.thumbs.down.icon
          | Downvote
        a.ui.basic.red.left.pointing.label 4
      .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
      .ui.flag.button
        i.flag.icon
        | Flag
      .ui.share.button(tabindex='0')
        i.share.icon
        | Share
  .ui.comments
      h3.ui.dividing.header Comments
      .comment
        a.avatar
          img(src='/profile_pictures/3.jpg')
        .content
          a.author Matt
          .metadata
            span.date Today at 5:42PM
          .text
            | That's great
          .actions
            a.upvote
              i.icon.thumbs.up
              span.num 2
            a.downvote
              i.icon.thumbs.down
              span.num 4
            a.reply 
              | Reply
            a.flag 
              | Flag
            a.share 
              | Share
      .comment
        a.avatar
          img(src='/profile_pictures/10.jpg')
        .content
          a.author Elliot Fu
          .metadata
            span.date Yesterday at 12:30AM
          .text
            p Idiots listened to Stupid Greedy lying Democrats and got the Vaccine!
          .actions
            a.upvote
              i.icon.thumbs.up
              span.num 2
            a.downvote
              i.icon.thumbs.down
              span.num 4
            a.reply 
              | Reply
            a.flag 
              | Flag
            a.share
              | Share
        .comments
          .comment
            a.avatar
              img(src='/profile_pictures/8.jpg')
            .content
              a.author Jenny Hess
              .metadata
                span.date Just now
              .text
                p Who’s vaccinated? Donald Trump and every other living president. All fifty governors both R and D. Nearly 100% of Congress. 96% of American physicians 75-80% of the military. Soon to be 100%.
                p Who’s not vaccinated? 99.2% of people dying of Covid.
              .actions
                a.upvote
                  i.icon.thumbs.up
                  span.num 2
                a.downvote
                  i.icon.thumbs.down
                  span.num 4
                a.reply 
                  | Reply
                a.flag 
                  | Flag
                a.share 
                  | Share
      .comment
        a.avatar
          img(src='/profile_pictures/13.png')
        .content
          a.author Joe Henderson
          .metadata
            span.date 5 days ago
          .text
            | Ah so sweet, the tears of the unvaccinated
          .actions
            a.upvote
              i.icon.thumbs.up
              | 2
            a.downvote
              i.icon.thumbs.down
              | 4
            a.reply 
              | Reply
            a.flag 
              | Flag
            a.share 
              | Share
      form.ui.reply.form
        .field
          textarea
        .ui.blue.labeled.submit.icon.button
          i.icon.edit
          |  Add Reply
  .ui.small.basic.share.modal
    .ui.icon.header
      i.share.icon
      |     You have shared this video!
    .actions(style="text-align:center;")   
      .ui.green.ok.inverted.button
        i.checkmark.icon
        |   Done

block scripts
  script(src='/public/js/postFunctionalities.js')