extends ui_layout
  
block content
  .ui.fluid.card.test       
    .image
      iframe(width='100%' height='568' src='https://www.youtube.com/embed/0bXmNBl9Xbg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .content
      .description
        h1 FDA granted full approval to the Pfizer vaccine
        p Description: This week, the FDA granted full approval to the Pfizer vaccine. Will that make a difference for vaccine-hesitant Americans? Dr. Irwin Redlener, founding director of the National Center for Disaster Preparedness at Columbia University and a MSNBC Public Health Analyst, joined NBC’s Joshua Johnson to discuss the process behind full FDA approval and its possible impact on vaccination rates.
    .five.ui.bottom.attached.icon.buttons
      .ui.labeled.button(tabindex='0')
        .ui.upvote.button(tabindex='0')
          i.thumbs.up.icon
          |  Upvote
        a.ui.basic.green.left.pointing.label.count=2
      .ui.labeled.button(tabindex='0')
        .ui.downvote.button(tabindex='0')
          i.thumbs.down.icon
          |  Downvote
        a.ui.basic.red.left.pointing.label.count=2
      .ui.reply.button(tabindex='0')
        i.reply.icon
        |  Reply
      .ui.flag.button(tabindex='0')
        i.flag.icon
        |  Flag
      .ui.share.button(tabindex='0')
        i.share.icon
        |  Share
    //- iframe(width='1010' height='568' src='https://www.youtube.com/embed/0bXmNBl9Xbg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //- h1 FDA granted full approval to the Pfizer vaccine
    //- p Description: This week, the FDA granted full approval to the Pfizer vaccine. Will that make a difference for vaccine-hesitant Americans? Dr. Irwin Redlener, founding director of the National Center for Disaster Preparedness at Columbia University and a MSNBC Public Health Analyst, joined NBC’s Joshua Johnson to discuss the process behind full FDA approval and its possible impact on vaccination rates.
  .ui.threaded.comments
      h3.ui.dividing.header Comments
      .comment
        a.avatar
          img(src='/images/avatar/small/matt.jpg')
        .content
          a.author Matt
          .metadata
            span.date Today at 5:42PM
          .text
            | That's great
          .actions
            a.upvote
              i.icon.thumbs.up(font-size="1em")
              | 2
            a.downvote
              i.icon.thumbs.down(font-size="1em")
              | 4
            a.reply 
              //- i.icon.reply.up(font-size="1em")
              | Reply
            a.flag 
              //- i.icon.flag(font-size="1em")
              | Flag
            a.share 
              //- i.icon.share(font-size="1em")
              | Share
      .comment
        a.avatar
          img(src='/images/avatar/small/elliot.jpg')
        .content
          a.author Elliot Fu
          .metadata
            span.date Yesterday at 12:30AM
          .text
            p It means many more will die...That’s what it means
          .actions
            a.upvote
              i.icon.thumbs.up(font-size="1em")
              | 2
            a.downvote
              i.icon.thumbs.down(font-size="1em")
              | 4
            a.reply 
              //- i.icon.reply.up(font-size="1em")
              | Reply
            a.flag 
              //- i.icon.flag(font-size="1em")
              | Flag
            a.share 
              //- i.icon.share(font-size="1em")
              | Share
        .comments
          .comment
            a.avatar
              img(src='/images/avatar/small/jenny.jpg')
            .content
              a.author Jenny Hess
              .metadata
                span.date Just now
              .text
                | It doesn’t matter if you’re afraid of the vaccine or not. The pandemic has never been about you. It has always been about the people around you.
              .actions
                a.upvote
                  i.icon.thumbs.up(font-size="1em")
                  | 2
                a.downvote
                  i.icon.thumbs.down(font-size="1em")
                  | 4
                a.reply 
                  //- i.icon.reply.up(font-size="1em")
                  | Reply
                a.flag 
                  //- i.icon.flag(font-size="1em")
                  | Flag
                a.share 
                  //- i.icon.share(font-size="1em")
                  | Share
      .comment
        a.avatar
          img(src='/images/avatar/small/joe.jpg')
        .content
          a.author Joe Henderson
          .metadata
            span.date 5 days ago
          .text
            | Ah so sweet, the tears of the unvaccinated
          .actions
            a.upvote
              i.icon.thumbs.up(font-size="1em")
              | 2
            a.downvote
              i.icon.thumbs.down(font-size="1em")
              | 4
            a.reply 
              //- i.icon.reply.up(font-size="1em")
              | Reply
            a.flag 
              //- i.icon.flag(font-size="1em")
              | Flag
            a.share 
              //- i.icon.share(font-size="1em")
              | Share
      form.ui.reply.form
        .field
          textarea
        .ui.blue.labeled.submit.icon.button
          i.icon.edit
          |  Add Reply