doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="content-language" content="en_US")
    title #{title} - VidShare
    link(rel='shortcut icon', href='https://dhpd030vnpk29.cloudfront.net/truman-objections/favicon.svg')
    link(rel='manifest', href='/public/manifest.json')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='https://unpkg.com/intro.js/minified/introjs.min.css')
    link(type='text/css', rel='stylesheet', href='/public/css/ui_layout.css')
    block styles
      
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js')
  script(src='https://unpkg.com/intro.js/minified/intro.min.js')
  //- script(src='/public/js/lib/humanized_time_span.js')
  block scripts
  //- script(src='/public/js/main.js')
  script.
    let page = window.location.pathname.split('/')[1];
    let search = window.location.search;
    let searchParameters = (new URL(document.location)).searchParams;
    const r_id_val = searchParameters.get("r_id");
    $.post(`/pageLog?r_id=${r_id_val}`, {
        page: page,
        search: search,
        _csrf: $('meta[name="csrf-token"]').attr('content')
    });

  body
    .ui.vertically.padded.stackable.grid
      include partials/ui_header
      block content

    //- include partials/ui_footer