.eleven.wide.column.centered {
    padding: 0px;
}

.title {
    color: #2B8490;
}

.demo {
    width: 95%;
    border-style: solid;
    border-color: #2B8490;
    padding: 40px;
    margin: 30px auto 50px auto;
}


/* ---- VIDEO CSS ---- */

.ui.fluid.card>.content>.description>p,
.ui.fluid.card>.content>.description>.viewCount-div>p {
    font-size: 0.95em;
}

.viewCount-div {
    display: inline-block;
}

.viewCount-string {
    float: left;
}

i.icon.user {
    float: left;
    margin: -0.11em 0em;
    font-size: 0.95em;
}

p.viewCount,
p.watching {
    float: left;
    white-space: pre-wrap;
    margin: 0px !important;
}

p.date {
    white-space: pre-wrap;
    float: right
}


/* ---- VIDEO FUNCTIONALIIES CSS ---- */

.ui.five.bottom.attached.buttons {
    background-color: #e0e1e2;
}

.ui.upvote.button,
.ui.downvote.button,
.ui.reply.button,
.ui.flag.button,
.ui.share.button {
    /* -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; */
    font-size: 0.95rem;
    background-color: #e0e1e2;
    color: rgba(0, 0, 0, .6);
    cursor: default;
}

.pointing.label {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    cursor: default !important;
}

.ui.downvote.button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


/* ---- COMMENT FORM TO VIDEO AND COMMENTS CSS ---- */

.ui.form {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.ui.form>.inline.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0em !important;
}

.ui.form>.inline.field>img.ui.image.rounded {
    max-width: 43.75px !important;
    width: 43.75px;
    height: 43.75px;
}

textarea {
    font-size: 1.1em !important;
    cursor: default !important;
}

.ui.button.replyToVideo {
    float: right;
    margin-top: 1em !important;
    display: none;
}

.ui.button.replyToComment {
    float: right;
    margin-top: 1em !important;
}


/* ---- COMMENTS ---- */

.ui.comments {
    margin-top: 1em;
}

.ui.comments>.comment {
    margin: 1em 0em 1em 0em;
}

.ui.comments,
.ui.comments>h3 {
    font-size: 1.1em;
}

.ui.comments>form.ui.reply.form {
    width: 100%;
}

.comment>.comments {
    padding-left: 3em !important;
    padding-bottom: 0em !important;
}

a.author,
a.author:hover {
    color: rgba(0, 0, 0, .87)!important;
    cursor: default !important;
}

.actions>a,
.actions>a:hover {
    color: rgba(0, 0, 0, .4) !important;
    cursor: default !important;
}

a.avatar,
a.avatar:hover {
    cursor: default !important;
}


/* ---- CONTINUE BUTTON ---- */

.ui.big.labeled.icon.button {
    margin-bottom: 40px;
}

.ui.big.labeled.icon.button.green {
    background-color: #aeb955;
}

.ui.big.labeled.icon.button.green:hover {
    background-color: rgb(179, 191, 88);
}

.ui.big.labeled.icon.button.green:active {
    background-color: rgb(162, 173, 80);
}