/* ---- VIDEO CSS ---- */

.ui.fluid.card>.content>.description>p,
.ui.fluid.card>.content>.description>.viewCount-div>p {
    font-size: 1.1em;
}

.viewCount-div {
    display: inline-block;
}

i.icon.user {
    float: left;
    margin: 0.11rem 0 0 0;
}

.viewCount-div>p {
    white-space: pre-wrap;
    float: right
}

p.description.short {
    overflow: hidden;
    height: 3em;
}

.ui.fluid.card>.content>.description>a {
    font-size: 0.85em;
}


/* ---- VIDEO FUNCTIONALIIES CSS ---- */

.ui.five.bottom.attached.buttons {
    background-color: #e0e1e2;
}

.ui.upvote.button,
.ui.downvote.button,
.ui.reply.button,
.ui.flag.button,
.ui.share.button {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.pointing.label {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.ui.downvote.button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


/* ---- COMMENT FORM TO VIDEO AND COMMENTS CSS ---- */

.ui.form {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.ui.form>.inline.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0em !important;
}

.ui.form>.inline.field>img.ui.image.rounded {
    max-width: 43.75px !important;
    width: 43.75px;
    height: 43.75px;
}

textarea {
    font-size: 1.1em !important;
}

.ui.button.replyToVideo {
    float: right;
    margin-top: 1em !important;
    display: none;
}

.ui.button.replyToComment {
    float: right;
    margin-top: 1em !important;
}


/* ---- COMMENTS ---- */

.ui.comments {
    margin-top: 1em;
}

.ui.comments>.comment {
    margin: 1em 0em 1em 0em;
}

.ui.comments,
.ui.comments>h3 {
    font-size: 1.25em;
}

.ui.comments>form.ui.reply.form {
    width: 100%;
}

.comment>.comments {
    padding-left: 3em !important;
    padding-bottom: 0em !important;
}

a.avatar>img {
    /* background-color: #d4d4d4; */
    /* border-radius: 50% !important; */
    /* width: 90%;
    padding: 10%; */
}


/* notification popups */


/* https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */

.ui.info.message {
    background-color: #ffffff;
    box-shadow: 0 1px 10px #2B8490 !important;
}

.ui.sticky.notificationPopup .label {
    overflow: hidden;
    width: 3em;
    height: 3em;
}

.ui.feed>.event>.label img.popupNotificationImage {
    width: 100%;
    height: 100%;
    display: inline;
    margin: 0 auto;
    border-radius: .25rem !important;
}

#desktopPopup,
#mobilePopup {
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    display: none;
    cursor: pointer;
}

.three.wide.column.centered {
    margin-left: 0;
}


/** when page width < 1250px **/

@media (max-width: 1250px) {
    .largeScreen {
        transition: 0.8s all ease;
        display: none;
        /** to hide/show the navbar items **/
    }
    .mediumScreen {
        transition: 0.8s all ease;
        display: inline;
        /** to hide/show the navbar icon**/
    }
    .ui.attached.buttons {
        margin-top: 0px;
    }
    .ui.reply.button,
    .ui.flag.button,
    .ui.share.button {
        border-style: solid;
        border-color: rgba(0, 0, 0, .3);
        border-width: 0.1px 0.1px 0 0;
    }
}