body {
    background-color: #F5F8FA;
    padding: 0em;
}

.ui.borderless.fixed.menu {
    background-color: #ffffff;
    z-index: 10000005;
}

.eleven.wide.column.centered,
.eight.wide.column.centered,
.three.wide.column.centered {
    margin-top: 125px;
    margin-bottom: 25px;
}

.hidden {
    display: none;
}

.ui.menu .item img.logo {
    margin-left: 3.5em;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.ui.button {
    cursor: pointer;
}

#newpost.ui.fluid.left.labeled.right.icon.input {
    cursor: pointer;
}

.main.container {
    margin-top: 5em;
}

.ui.fluid.card>.content>.description {
    font-size: 1.05em;
}

.wireframe {
    margin-top: 2em;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

.ui.three.column.grid.pro {
    margin: 0;
}

.ui.three.column.grid.pro .column {
    padding: 0 4px;
}

.ui.three.column.grid.pro .column img {
    margin-top: 8px;
    vertical-align: middle;
}