body {
    background-color: #F5F8FA;
    padding: 0em;
}


/* Header CSS*/

.ui.borderless.fixed.menu {
    background-color: #ffffff;
    z-index: 10000005;
}

.ui.menu>.container {
    justify-content: center
}


/* Layout  CSS*/

.ui.vertically.padded.stackable.grid {
    padding-top: 125px;
    padding-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}


/* General CSS */

.hidden {
    display: none;
}

.ui.menu .item img.logo {
    margin-left: 3.5em;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.ui.button {
    cursor: pointer;
}

#newpost.ui.fluid.left.labeled.right.icon.input {
    cursor: pointer;
}

.main.container {
    margin-top: 5em;
}

.ui.fluid.card>.content>.description {
    font-size: 1.05em;
}

.wireframe {
    margin-top: 2em;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

.ui.three.column.grid.pro {
    margin: 0;
}

.ui.three.column.grid.pro .column {
    padding: 0 4px;
}

.ui.three.column.grid.pro .column img {
    margin-top: 8px;
    vertical-align: middle;
}


/* ---- CONTINUE TO NEXT PAGE BUTTON ---- */

.ui.labeled.icon.button>.icon {
    font-size: 25px;
    width: 50px;
}

.ui.labeled.icon.button {
    margin-bottom: 40px;
}

.ui.big.green.button {
    background-color: #2b905a;
}

.ui.big.green.button:hover {
    background-color: #349a64;
}

.ui.big.green.button:active {
    background-color: #278552;
}